* {
	margin: 0;
	padding: 0;
	line-height: 1.2em;
}
body {
	background-color: white;
	font-family: 'Cabin';
	position: relative;
}
header {
	position: fixed;
	left: 0;
	top: 0;
	width: 300px;
	height: 100%;
}
section#allcontent {
	width: 650px;
	margin-left: 300px;
	margin-bottom: 80px;
	min-height: 1600px;
	background-color: white;
}
article {
	width: 650px;
	padding: 18px 32px;
	position: relative;
}
article h2 {
	font-size: 1.75em;
	color: black;
	padding: 0px 18px;
	width: 500px;
	margin: 18px 8px;
}
article h2 a {
	text-decoration: none;
}
article time {
	position: absolute;
	right: 20px;
	top: 30px;
	background-color: #efefef;
	padding: 3px 12px;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

article p {
	padding: 12px 24px;
	letter-spacing: 0.08em;
	color: #222;
	line-height: 1.4em;
}
article p img {
	width: 500px;
	margin: 0 auto;
	display: block;
}
a {
	color: #111;
}
article a:hover {
	color: black;
}
strong {
	font-weight: 900;
}
footer {
	width: 650px;
	margin-left: 300px;
}
footer section {
	text-align: right;
	margin: 0 0 0 auto;
    color: #777;
	padding: 8px;
}
div#logo {
	width: 180px;
	height: 180px;
	margin: 50px auto;
}
.flip {
	-webkit-animation-name: flipanim;
	-webkit-animation-duration: 0.8s;
	-webkit-animation-timing-function: linear;
}
.unflip {
	-webkit-animation-name: unflipanim;
	-webkit-animation-duration: 0.8s;
	-webkit-animation-timing-function: linear;
}
.flipped {
	-webkit-transform: translateZ(0px) rotateY(180deg);
}
@-webkit-keyframes flipanim {
	0% {
		-webkit-transform: translateZ(0px) rotateY(0deg);
	}
	50% {
		-webkit-transform: translateZ(-600px) rotateY(90deg);
	}
	100% {
		-webkit-transform: translateZ(0px) rotateY(180deg);
	}
}
@-webkit-keyframes unflipanim {
	0% {
		-webkit-transform: translateZ(0px) rotateY(180deg);
	}
	50% {
		-webkit-transform: translateZ(-600px) rotateY(90deg);
	}
	100% {
		-webkit-transform: translateZ(0px) rotateY(0deg);
	}
}
